body {
    line-height: 1.6;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
    font-weight: 300;
}

a {
    color: #D33257;
    text-decoration: none;
}

main {
    max-width: 600px;
    margin: 30px auto;
}

#result {
    margin: 20px 0;
}

img {
    width: 100%;
    height: auto;
}

form .input-wrap {
    display: flex;
}

input,
button {
    font: inherit;
    line-height: 1;
    padding: 15px 10px;
}

input {
    width: 100%;
    border: 2px solid #D33257;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    font-size: 14px;
    font-weight: 600;
    background-color: #D33257;
    color: #fff;
    border: 0;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**/



.container {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
  }
  
  #form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #form-container .wp-editor-container textarea.wp-editor-area {
    resize: none;
  }
  
  #table-container {}
  
  ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current {
    background: #ededed;
    color: #222;
  }
  
  .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
  }
  
  .tab-content.current {
    display: inherit;
  }
  
  #stocklabel {
    font-weight: bold;
  }
  